[submodule "NeuroSAT"]
	path = NeuroSAT
	url = https://github.com/dmeoli/NeuroSAT
[submodule "SATGame"]
	path = SATGame
	url = https://github.com/dmeoli/SATGame
[submodule "GraphQSAT"]
	path = GraphQSAT
	url = https://github.com/dmeoli/GraphQSAT
